<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width">-->
    <!--<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">-->
    <link rel="stylesheet" href="css/style.min.css" media="all"/>
    <script src="js/all.js"></script>
    <!--[if lte IE 8 ]><script type="text/javascript">window.location.href="ie8min/index.html";</script><![endif]-->
</head>
<body>
    <div class="wrap">
        <header class="b-header">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <div class="b-header__logo">
                            <a href="index.html"><img src="images/logo.png" alt="TizerMe" width="53" height="46"/></a>
                        </div>
                        <nav class="b-nav">
                            <a href="#">Парсер</a><a href="#">Заливщик</a><a href="#">Планировщик</a><a href="#">Аккаунты</a>
                        </nav>
                    </div>
                    <div class="span5 align-right">
                        <div class="b-user">
                            <div class="b-user__item"><a class="link" href="#toprofail(maybe)">abracadabra@adhelper.pro</a></div>
                            <div class="b-user__item">Ваш балланс:  <span class="balance">108 $</span></div>
                            <div class="b-user__item"><a href="#" class="pr-button pr-button_gray pr-button_small">Пополнить</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </header>