<div class="b-tizer">
    <div class="b-tizer__content">
        <div class="b-tizer__header">
            Качественная обувь от производителя Clark Shoes!
        </div>
        <div class="b-tizer__img">
            <img src="images/content/tizer-image.jpg" alt="Качественная обувь от производителя Clark Shoes!"/>
        </div>
        <div class="b-tizer__description">
            Распродажа качественной обуви от производителя Clark Shoes!
        </div>
        <div class="b-tizer__bar">
            <span class="b-tizer__bar-title">Время жизни:</span>
            <div class="b-bar"><span class="b-bar__progress" style="width:75%;"></span></div>
        </div>
        <div class="b-tizer__bar">
            <span class="b-tizer__bar-title">Частота повторения:</span>
            <div class="b-bar b-bar_yellow"><span class="b-bar__progress" style="width:50%;"></span></div>
        </div>
        <div class="b-tizer__hover">
            <div class="dtable">
                <div class="dcell">
                    <button class="pr-button pr-button_block pr-button_yellow b-tizer__addbtn">Добавить в проект</button>
                    <button class="pr-button pr-button_block b-tizer__detalisbtn">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</div>