<div class="b-fexpand__list">
    <div class="b-fexpand__l-header">
        <div class="row">
            <div class="span5">
                Период
            </div>
            <div class="span5 align-right">
                <button type="button" class="b-fexpand__l-unselect">снять все</button>
            </div>
        </div>
    </div>
    <div class="b-fexpand__l-wrap">
        <label><input class="b-fexpand__checkbox" type="checkbox"/>Advertlink.ru</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>MyBigAdNetwork.com</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>Adnow.ru</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>Advertlink.ru</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>MyBigAdNetwork.com</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>Adnow.ru</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>Advertlink.ru</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>MyBigAdNetwork.com</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>Adnow.ru</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>Advertlink.ru</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>MyBigAdNetwork.com</label>
        <label><input class="b-fexpand__checkbox" type="checkbox"/>Adnow.ru</label>
    </div>
</div>