            @@include('blocks/_b-header.html')
            <div class="search-container">
                <div class="container">
                    <div class="row">
                        <div class="span5">
                            <div class="b-search">
                                <form action="/">
                                    <div class="b-search__label">Введите ключевое слово или домен</div>
                                    <div class="b-search__wrap">
                                        <select class="b-search__category pr-select" data-placeholder="Общие">
                                            <option value="">Общие</option>
                                            <option value="">Общие Общие</option>
                                            <option value="">Общие Общие</option>
                                        </select>
                                        <input class="b-search__field" type="text"/>
                                        <button class="pr-button pr-button_yellow pr-button_small" type="submit">Найти</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="span5">
                            <!--<div class="b-umenu">
                                <a class="b-umenu__link b-umenu__link_profile" href="#" title="Профиль">Профиль</a><a class="b-umenu__link b-umenu__link_settings" href="#" title="Настройки">Настройки</a><a class="b-umenu__link b-umenu__link_exit" href="#" title="Выход">Выход</a>
                            </div>-->
                            <div class="row b-tfilter">
                                <div class="span4">
                                    <h4 class="b-tfilter__title">Время жизни</h4>
                                    <div class="b-tfilter__range-head">
                                        от <input type="text" class="b-tfilter__range-start" value="1"/> до <input type="text" class="b-tfilter__range-finish" value="365"/>
                                    </div>
                                    <div class="b-tfilter__range"></div>
                                </div>
                                <div class="span4">
                                    <h4 class="b-tfilter__title">Выберите дату</h4>
                                    <select class="pr-select pr-select_block">
                                        <option value="">01.01.01 - 01.01.01</option>
                                        <option value="">01.01.01 - 01.01.01</option>
                                        <option value="">01.01.01 - 01.01.01</option>
                                    </select>
                                </div>
                                <div class="span2">
                                    <h4 class="b-tfilter__title">Цензура</h4>
                                    <label class="b-tfilter__cenzor"><input type="checkbox"/> +18</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-filter">
                <div class="b-filter__header">
                    <div class="container">
                        <div class="b-filter__item">
                            <a class="title" href="#">Период</a><a class="arrow" href="#"></a>
                            <div class="b-filter__dropdown">
                                <ul>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра 2</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра 3</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра 4</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-filter__item">
                            <a class="title" href="#">Тизерные сети</a><a class="arrow" href="#"></a>
                            <div class="b-filter__dropdown">
                                <ul>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-filter__item">
                            <a class="title" href="#">Страна</a><a class="arrow" href="#"></a>
                            <div class="b-filter__dropdown">
                                <ul>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-filter__item">
                            <a class="title" href="#">Тип трафика</a><a class="arrow" href="#"></a>
                            <div class="b-filter__dropdown">
                                <ul>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-filter__item">
                            <a class="title" href="#">Время жизни</a><a class="arrow" href="#"></a>
                            <div class="b-filter__dropdown">
                                <ul>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                    <li class="b-filter__dropdown-item" data-val="value">Элемент фильтра</li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-filter__item"><a class="search js-open_filter" href="#">Расширенный поиск</a></div>
                    </div>
                </div>
            </div>
            <div class="b-fexpand js-expanded_filter">
                <div class="container">
                    <form id="expanded-filter" action="/">
                        <div class="row">
                            <div class="span2">
                                @@include('blocks/_expand-list.html')
                            </div>
                            <div class="span2">
                                @@include('blocks/_expand-list.html')
                            </div>
                            <div class="span2">
                                @@include('blocks/_expand-list.html')
                            </div>
                            <div class="span2">
                                @@include('blocks/_expand-list.html')
                            </div>
                            <div class="span2">
                                @@include('blocks/_expand-list.html')
                            </div>
                        </div>
                        <div class="b-fexpand__bottom">
                            <div class="row">
                                <div class="span5"><button type="reset" class="pr-button pr-button_gray pr-button_small">Сбросить все</button></div>
                                <div class="span5 align-right"><button type="submit" class="pr-button pr-button_green pr-button_small">Отфильтровать</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="b-tizhead">
                    <div class="row">
                        <div class="span5">
                            <div class="b-tizhead__choose">Для выбора тизеров зажмите клавишу CTRL</div>
                        </div>
                        <div class="span5 align-right">
                            <span class="b-tizhead__find">Найдено тизеров: <span class="num">289 081</span></span>
                        </div>
                    </div>
                </div>
                <div id="tizer-container" class="tizer-container"></div>
                <div id="tizer-preloader" class="tizer-preloader">
                    <img src="images/loader.gif" alt=""/>
                </div>
                <div class="b-tizer-bar">
                    <div class="container">
                        <div class="row b-tizer-bar__container" >
                            <div class="span5">
                                <p>Выбрано : <span class="total-tizers"></span></p>
                            </div>
                            <div class="span5 align-right">
                                <button class="pr-button pr-button_green">Создать проект</button>
                                <button class="pr-button pr-button_gray-bd">Еще</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    @@include('blocks/_b-footer.html')
    <script id="tizerTemplate" type="text/x-jsrender">
    {{for}}
        <div class="b-tizer" id="{{>id}}">
            <div class="b-tizer__content">
                <div class="b-tizer__header">
                    {{>name}}
                </div>
                <div class="b-tizer__img">
                    <img src="{{>image}}" alt="{{>name}}"/>
                </div>
                <div class="b-tizer__description">
                    {{>description}}
                </div>
                <div class="b-tizer__bar">
                    <span class="b-tizer__bar-title">Время жизни:</span>
                    <div class="b-bar"><span class="b-bar__progress" style="width:{{>time}}%;"></span></div>
                </div>
                <div class="b-tizer__bar">
                    <span class="b-tizer__bar-title">Частота повторения:</span>
                    <div class="b-bar b-bar_yellow"><span class="b-bar__progress" style="width:{{>frequency}}%;"></span></div>
                </div>
            </div>
        </div>
    {{/for}}
    </script>
    <script id="tizerMoreTemplate" type="text/x-jsrender">
        <div class="b-tdetalis" data-id="{{>id}}">
            <button class="js-close-detalis b-tdetalis__close"></button>
            <span class="b-tdetalis__arrow"></span>
            <div class="row">
                <div class="span8">
                    <div class="b-tdetalis__mtab-wrap js-mtab-wrap">
                        <div class="b-tdetalis__mtab js-mtab">
                            <a class="b-tdetalis__mtab-link js-mtab-link" href="#mtab1" title="Tools"></a>
                            <a class="b-tdetalis__mtab-link i2 js-mtab-link" href="#mtab2" title="Statistics"></a>
                            <a class="b-tdetalis__mtab-link i3 js-mtab-link" href="#mtab3" title="Reload"></a>
                        </div>
                        <div class="b-tdetalis__mtab-content js-mtab-tab" id="mtab1">
                            <div class="row">
                                <div class="span3">
                                    <h2>Инфо</h2>
                                    <div class="b-tdetalis__item">
                                        <span class="title">Последнее появление:</span>
                                        <span class="data">2014-09-01</span>
                                    </div>
                                    <div class="b-tdetalis__item">
                                        <span class="title">Первое появление:</span>
                                        <span class="data">2014-09-01</span>
                                    </div>
                                </div>
                                <div class="span2">
                                    <h2>Страны</h2>
                                    <ul class="b-tdetalis__mtab-list">
                                        <li>Россия</li>
                                        <li>Украина</li>
                                        <li>Казахстан</li>
                                        <li>Америка</li>
                                        <li>Беларусь</li>
                                    </ul>
                                </div>
                                <div class="span2">
                                    <h2>Устроиства</h2>
                                    <ul class="b-tdetalis__mtab-list">
                                        <li>Symbian</li>
                                        <li>Macos</li>
                                        <li>Iphone</li>
                                        <li>Ipad</li>
                                        <li>Android</li>
                                        <li>Web</li>
                                    </ul>
                                </div>
                                <div class="span3">
                                    <h2>Тизерные сети</h2>
                                    <div class="row">
                                        <div class="span5">
                                            <ul class="b-tdetalis__mtab-list">
                                                <li>MarketGid</li>
                                                <li>DirectAdvert</li>
                                                <li>RedTram</li>
                                                <li>Linkedin</li>
                                                <li>Mosvasiti</li>
                                                <li>Ecotechi</li>
                                            </ul>
                                        </div>
                                        <div class="span5">
                                            <ul class="b-tdetalis__mtab-list">
                                                <li>Momonano</li>
                                                <li>Tecolab</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-tdetalis__mtab-content js-mtab-tab" id="mtab2">
                            <div class="b-tdetalis__smtab-wrap js-mtab-wrap">
                                <div class="b-tdetalis__smtab js-mtab">
                                    <a class="b-tdetalis__smtab-link active js-mtab-link" href="#smtab21">По странам</a>
                                    <a class="b-tdetalis__smtab-link js-mtab-link" href="#smtab22">По времени</a>
                                    <a class="b-tdetalis__smtab-link js-mtab-link" href="#smtab23">По тизерным сетям</a>
                                    <a class="b-tdetalis__smtab-link js-mtab-link" href="#smtab24">По неделям</a>
                                    <a class="b-tdetalis__smtab-link js-mtab-link" href="#smtab25">По месяцам</a>
                                </div>
                                <div class="b-tdetalis__smtab-content js-mtab-tab active" id="smtab21">
                                    <img src="images/content/graph.jpg" />
                                </div>
                                <div class="b-tdetalis__smtab-content js-mtab-tab" id="smtab22">
                                    <img src="images/content/graph.jpg" />
                                </div>
                                <div class="b-tdetalis__smtab-content js-mtab-tab" id="smtab23">
                                    <img src="images/content/graph.jpg" />
                                </div>
                                <div class="b-tdetalis__smtab-content js-mtab-tab" id="smtab24">
                                    <img src="images/content/graph.jpg" />
                                </div>
                                <div class="b-tdetalis__smtab-content js-mtab-tab" id="smtab25">
                                    <img src="images/content/graph.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="b-tdetalis__mtab-content js-mtab-tab" id="mtab3">
                            <div class="b-tdetalis__smtab-wrap js-mtab-wrap">
                                <div class="b-tdetalis__smtab js-mtab">
                                    <a class="b-tdetalis__smtab-link active js-mtab-link" href="#smtab1" title="20.09.2014">20.09.2014</a>
                                    <a class="b-tdetalis__smtab-link js-mtab-link" href="#smtab2" title="11.01.2014">11.01.2014</a>
                                </div>
                                <div class="b-tdetalis__smtab-content js-mtab-tab active" id="smtab1">
                                    <div class="b-tdetalis__reload-item">
                                        <a class="colorbox-img" href="images/content/screenshot.jpg"><img src="images/content/tizer-image-reload.jpg" alt=""/><a>
                                        <a href="#">http://medical-catalog.ru</a>
                                    </div>
                                </div>
                                <div class="b-tdetalis__smtab-content js-mtab-tab" id="smtab2">
                                    <div class="b-tdetalis__reload-item">
                                        <a class="colorbox-img" href="images/content/screenshot.jpg"><img src="images/content/tizer-image-reload.jpg" alt=""/><a>
                                        <a href="#">http://medical-catalog.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <img class="b-tdetalis__image" src="{{>image}}" alt="{{>name}}"/>
                    <button class="pr-button pr-button_green pr-button_block b-tdetalis__button js-add-to-projekt">{{>addtext}}</button>
                </div>
            </div>
        </div>
    </div>
    </script>
    </body>
</html>