/*grid*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-size: 10px;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus, input:focus, button:focus {
  outline: none; }

a:hover {
  text-decoration: none; }

.row {
  width: 100%; }
  .row:before, .row:after {
    display: table;
    content: "";
    line-height: 0; }
  .row:after {
    clear: both; }
  .row [class*="span"] {
    display: block;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
    margin-left: 1.83673%; }
  .row [class*="span"]:first-child {
    margin-left: 0; }
  .row .span1 {
    width: 6.64966%; }
  .row .span2 {
    width: 15.13605%; }
  .row .span3 {
    width: 23.62245%; }
  .row .span4 {
    width: 32.10884%; }
  .row .span5 {
    width: 40.59524%; }
  .row .span6 {
    width: 49.08163%; }
  .row .span7 {
    width: 57.56803%; }
  .row .span8 {
    width: 66.05442%; }
  .row .span9 {
    width: 74.54082%; }
  .row .span10 {
    width: 83.02721%; }
  .row .span11 {
    width: 91.51361%; }
  .row .span12 {
    width: 100%; }
  .row .offset1 {
    margin-left: 10.32313%; }
    .row .offset1:first-child {
      margin-left: 8.48639%; }
  .row .offset2 {
    margin-left: 18.80952%; }
    .row .offset2:first-child {
      margin-left: 16.97279%; }
  .row .offset3 {
    margin-left: 27.29592%; }
    .row .offset3:first-child {
      margin-left: 25.45918%; }
  .row .offset4 {
    margin-left: 35.78231%; }
    .row .offset4:first-child {
      margin-left: 33.94558%; }
  .row .offset5 {
    margin-left: 44.26871%; }
    .row .offset5:first-child {
      margin-left: 42.43197%; }
  .row .offset6 {
    margin-left: 52.7551%; }
    .row .offset6:first-child {
      margin-left: 50.91837%; }
  .row .offset7 {
    margin-left: 61.2415%; }
    .row .offset7:first-child {
      margin-left: 59.40476%; }
  .row .offset8 {
    margin-left: 69.72789%; }
    .row .offset8:first-child {
      margin-left: 67.89116%; }
  .row .offset9 {
    margin-left: 78.21429%; }
    .row .offset9:first-child {
      margin-left: 76.37755%; }
  .row .offset10 {
    margin-left: 86.70068%; }
    .row .offset10:first-child {
      margin-left: 84.86395%; }
  .row .offset11 {
    margin-left: 95.18707%; }
    .row .offset11:first-child {
      margin-left: 93.35034%; }

body {
  background: url(../images/body-bg.jpg) #548cc2 repeat-x;
  background-size: auto 100%;
  min-width: 1012px;
  padding: 7.8em 0 4.2em; }

.wrap {
  width: 90%;
  margin: 0 auto;
  background-color: #ecf0f1;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 0 4.5em 12.5em; }

.tizer-container {
  overflow: hidden; }

.pr-button {
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  font-size: 1.3em;
  border: 0;
  text-align: center;
  box-sizing: border-box;
  text-align: center;
  color: #717880;
  margin: 0;
  padding: 1em 2.69231em;
  line-height: 1.5;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease; }
  .pr-button:hover {
    background-color: #f2f2f2; }
  .pr-button_block {
    display: block;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .pr-button_yellow {
    background-color: #ffcd21; }
    .pr-button_yellow:hover {
      background-color: #edb600; }
  .pr-button_green {
    background-color: #2ecc71;
    color: #fff; }
    .pr-button_green:hover {
      background-color: #25a259; }

.dtable {
  display: table;
  height: 100%;
  width: 100%; }

.dcell {
  display: table-cell;
  vertical-align: middle; }

.b-tizer {
  float: left;
  min-width: 231px;
  padding: 0 0.8em 2.3em;
  box-sizing: border-box; }
  .b-tizer__content {
    border: 1px solid #dee1e2;
    padding: 2em 2.8em 1.1em;
    background-color: #fff;
    position: relative;
    transition: box-shadow 0.3s ease, border-color 0.3s ease; }
  .b-tizer.selected .b-tizer__content {
    box-shadow: inset 0 0 0 3px #2ecc71, 0 0 2px #2ecc71;
    border-color: #2ecc71; }
  .b-tizer__header {
    color: #72868b;
    font-size: 1.3em;
    line-height: 1.38; }
  .b-tizer__description {
    color: #72868b;
    font-size: 1.3em;
    line-height: 1.38;
    border-bottom: 1px solid #ecf0f1;
    padding-bottom: 0.6em;
    margin-bottom: 0.6em; }
  .b-tizer__img {
    padding: 1.4em 0 0.6em; }
    .b-tizer__img img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }
  .b-tizer__bar {
    padding-bottom: 0.7em; }
  .b-tizer__bar-title {
    display: block;
    font-size: 1.3em;
    color: #72868b;
    padding-bottom: 0.23077em; }
  .b-tizer__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(211, 215, 220, 0.8);
    left: 0;
    top: 0;
    display: none;
    opacity: 0;
    box-sizing: border-box;
    padding: 0 2em; }
  .b-tizer__addbtn {
    margin-bottom: 10px; }

.b-bar {
  overflow: hidden;
  height: 6px;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 3px; }
  .b-bar__progress {
    display: block;
    height: 100%;
    position: relative;
    background-color: #2ecc71; }
    .b-bar__progress:after {
      content: "";
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
      border-top: 6px solid #2ecc71;
      border-right: 6px solid transparent; }
  .b-bar_yellow .b-bar__progress {
    background-color: #ffcd21; }
  .b-bar_yellow .b-bar__progress:after {
    border-top-color: #ffcd21; }

.b-tdetalis {
  width: 100%;
  padding: 2em 2.5em;
  border-top: 1px solid #b7c4c8;
  border-bottom: 1px solid #b7c4c8;
  background-color: #d7dfe1;
  clear: both;
  margin-bottom: 2em;
  position: relative;
  box-sizing: border-box;
  display: none;
  /*&:after, &:before{
        content:"";
        display: block;
        height: 100%;
        border-top: 1px solid #b7c4c8;
        border-bottom: 1px solid #b7c4c8;
        background-color: #d7dfe1;
        width: 100px;
        position: absolute;
        left: -100px;
        top: -1px;
    }
    &:before{
        left: auto;
        right: -100px;
    }
    //нужно убирать оверфлоу у контейнера. Пока попробуем так
    */ }
  .b-tdetalis__image {
    display: block; }
  .b-tdetalis__item {
    padding-bottom: 1.5em; }
    .b-tdetalis__item .title, .b-tdetalis__item .data {
      font-size: 1.3em;
      color: #48575b;
      display: block;
      text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.6); }
    .b-tdetalis__item .title {
      font-weight: 700; }
  .b-tdetalis__button {
    margin-right: 15px; }
    .b-tdetalis__button:last-child {
      margin-right: 0; }
